@use "sass:map";

$hap-colors: (
  "gold": (
    "color": #fa0,
    "tint": #f8f8fc,
  ),
  "teal": (
    "color": #22a49c,
    "tint": #f9f7f5,
  ),
  "sea": (
    "color": #11c7eb,
    "tint": #eefbfb,
  ),
);

@debug map.get($hap-colors, "gold");

%hap-card-side-padding {
  padding-left: 20px;
  padding-right: 20px;
}

.happening {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;

  &::before,
  &::after, {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 25%;
    z-index: 4;
  }

  &::before {
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(255,255,255,) 50%);
  }

  &::after {
    right: 0;
    transform: translateX(100%);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255,255,255,) 50%);
  }

  & > div.swiper {
    display: flex;
  }

  &__title {
    margin-bottom: 8px;
    font-size: 0.875em;
    font-weight: 600;
    color: #000066;
  }
}

.hap-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(10ch, min-content) 1fr min-content;
  grid-template-areas:
    "header"
    "body"
    "footer";
  height: 100%;
  box-shadow: 3px 2px 10px 3px rgba(17,22,49,0.07);
  border: 4px solid #ffffff;
  background-color: var(--hap-card-tint, #f9f7f5);

  &__header {
    @extend %hap-card-side-padding;

    grid-area: header;
    padding-top: 10px;
    padding-bottom: 11px;
    //flex: 1 0 auto;
    margin-left: -4px;
    margin-right: -4px;
    margin-top: -4px;
    border: 4px solid #ffffff;
    background-color: var(--hap-card-color);
    color: #fff;
  }

  &__title {
    font-size: 1.125em;
    font-weight: 600;
    line-height: 1.33;
  }

  &__body {
    @extend %hap-card-side-padding;

    grid-area: body;
    padding-top: 12px;
    font-size: 1em;
    line-height: 1.375;
    color: rgba(0, 0, 0, 0.67);
  }

  &__footer {
    @extend %hap-card-side-padding;
    padding-top: 8px;
    padding-bottom: 8px;

    grid-area: footer;
  }

  &__link {
    //display: block;
    //height: 100%;

    &:hover .link-arrow:after {
      transform: translate3d(6px, 0, 0);
    }
  }

  &__footer-link {
    position: relative;

    &.link-arrow::after {
      top: 2px;
    }
  }
}



//.hap-card {
//  display: flex;
//  flex-direction: column;
//  justify-content: space-between;
//  //height: 16.25em;
//  height: 100%;
//  padding-bottom: 12px;
//
//  //box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
//  box-shadow: 3px 2px 10px 3px rgba(17,22,49,0.07);
//  border: 4px solid #ffffff;
//  background-color: var(--hap-card-tint, #f9f7f5);
//
//  &__header {
//    @extend %hap-card-side-padding;
//
//    min-height: 6.375em;
//    padding-top: 10px;
//    padding-bottom: 9px;
//    //flex: 1 0 auto;
//    margin-left: -4px;
//    margin-right: -4px;
//    border: 4px solid #ffffff;
//
//    background-color: var(--hap-card-color, #000066);
//    color: #fff;
//  }
//
//  &__title {
//    font-size: 1.125em;
//    font-weight: 600;
//    line-height: 1.33;
//  }
//
//  &__body {
//    @extend %hap-card-side-padding;
//
//    flex: 1 1 auto;
//    padding-top: 12px;
//    font-size: 1em;
//    line-height: 1.375;
//    color: rgba(0, 0, 0, 0.67);
//  }
//
//  &__footer {
//    @extend %hap-card-side-padding;
//
//  }
//
//  &__link {
//    display: block;
//    height: 100%;
//  }
//
//  &__footer-link {
//    position: relative;
//
//    &.link-arrow::after {
//      top: 2px;
//    }
//  }
//}
