:root {
  --font-family: proxima-nova, sans-serif;

  --color-dark: #222;
  --color-aoa-blue: #006;
  --color-sea-serpent: #11c7eb;
  --color-teal: #22a49c;
  --color-gold: #fa0;
  --color-warm: #f9f7f5;

  --blueStartColor: #8cbfed;
  --blueStopColor: #6785a1;
  --yellowStartColor: #fffecc;
  --yellowStopColor: #fffc66;
  --seaStartColor: #27e5f7;
  --seaStopColor: #11c7eb;
  --whiteStartColor: #f9f7f5;
  --whiteStopColor: #f9f7f5;

  --primary-color: var(--color-aoa-blue);

  --font-color-dark: var(--color-dark);

  --bezier-timing: 0.175, 0.885, 0.32, 1.275;
}

$navy: #000066;
$sea: #11c7eb;

//@import 'blob';
@import 'tk-blob';
@import 'happening';
@import 'super';
@import 'swiper';

html::after,
body::before {
  content: none;
}

.u-rel {
  position: relative;
}

.nav-container {
  height: 90px;
  padding-bottom: 20px;
  margin-bottom: -24px;
  z-index: 1;
  border-bottom: 1px solid #f5f5f5;
  background: #f9f7f5;
  box-shadow: 14px 5px 20px rgba(0,0,0,.1);

  @media screen and (min-width: 1280px) {
    height: 130px;
  }

  & > img {
    box-shadow: 0 -2px 10px 10px #00000012;
  }
}

.link-arrow {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: -15px;
  margin-right: -15px;
}

.link-arrow:after {
  content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMThweCIgaGVpZ2h0PSIxMnB4IiB2aWV3Qm94PSIwIDAgMTggMTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZyBpZD0iU3ltYm9scyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBvbHlsaW5lIGlkPSJQYXRoLTUiIHN0cm9rZT0iIzIyYTQ5YyIgc3Ryb2tlLXdpZHRoPSIxLjYiIHBvaW50cz0iOS42NzgzNjI1NyAwIDE1IDUgOS42NzgzNjI1NyAxMCI+PC9wb2x5bGluZT4KICAgICAgICA8bGluZSB4MT0iMTQuNiIgeTE9IjUiIHgyPSIwLjQiIHkyPSI1IiBpZD0iTGluZSIgc3Ryb2tlPSIjMjJhNDljIiBzdHJva2Utd2lkdGg9IjEuNiIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSI+PC9saW5lPgogICAgPC9nPgo8L3N2Zz4K);
  position: absolute;
  top: 0;
  margin-left: 7px;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s ease-out;
}

.link-arrow--teal::after {
  // this is the default
}

.link-arrow--gold::after {
  content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMThweCIgaGVpZ2h0PSIxMnB4IiB2aWV3Qm94PSIwIDAgMTggMTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZyBpZD0iU3ltYm9scyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBvbHlsaW5lIGlkPSJQYXRoLTUiIHN0cm9rZT0iI2ZmYWEwMCIgc3Ryb2tlLXdpZHRoPSIxLjYiIHBvaW50cz0iOS42NzgzNjI1NyAwIDE1IDUgOS42NzgzNjI1NyAxMCI+PC9wb2x5bGluZT4KICAgICAgICA8bGluZSB4MT0iMTQuNiIgeTE9IjUiIHgyPSIwLjQiIHkyPSI1IiBpZD0iTGluZSIgc3Ryb2tlPSIjZmZhYTAwIiBzdHJva2Utd2lkdGg9IjEuNiIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSI+PC9saW5lPgogICAgPC9nPgo8L3N2Zz4=)
}

.link-arrow--navy::after {
  content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMThweCIgaGVpZ2h0PSIxMnB4IiB2aWV3Qm94PSIwIDAgMTggMTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZyBpZD0iU3ltYm9scyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBvbHlsaW5lIGlkPSJQYXRoLTUiIHN0cm9rZT0iIzAwMDA2NiIgc3Ryb2tlLXdpZHRoPSIxLjYiIHBvaW50cz0iOS42NzgzNjI1NyAwIDE1IDUgOS42NzgzNjI1NyAxMCI+PC9wb2x5bGluZT4KICAgICAgICA8bGluZSB4MT0iMTQuNiIgeTE9IjUiIHgyPSIwLjQiIHkyPSI1IiBpZD0iTGluZSIgc3Ryb2tlPSIjMDAwMDY2IiBzdHJva2Utd2lkdGg9IjEuNiIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSI+PC9saW5lPgogICAgPC9nPgo8L3N2Zz4=)
}

.link-arrow--sea::after {
  content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMThweCIgaGVpZ2h0PSIxMnB4IiB2aWV3Qm94PSIwIDAgMTggMTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZyBpZD0iU3ltYm9scyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBvbHlsaW5lIGlkPSJQYXRoLTUiIHN0cm9rZT0iIzExYzdlYiIgc3Ryb2tlLXdpZHRoPSIxLjYiIHBvaW50cz0iOS42NzgzNjI1NyAwIDE1IDUgOS42NzgzNjI1NyAxMCI+PC9wb2x5bGluZT4KICAgICAgICA8bGluZSB4MT0iMTQuNiIgeTE9IjUiIHgyPSIwLjQiIHkyPSI1IiBpZD0iTGluZSIgc3Ryb2tlPSIjMTFjN2ViIiBzdHJva2Utd2lkdGg9IjEuNiIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSI+PC9saW5lPgogICAgPC9nPgo8L3N2Zz4=)
}

.link-arrow:hover:after {
  transform: translate3d(6px, 0, 0);
}

/* LOCAL ONLY */
.etc {
  position: relative;
  height: 800px;
  width: 100%;
  position: relative;
  margin-top: 9rem;
  background-color: #f5f5f5;

  &::before {
    content: "Etc.";
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 24px;
    color: #888;
  }
}
