:root {
  --font-family: proxima-nova, sans-serif;

  --color-dark: #222;
  --color-aoa-blue: #006;
  --color-sea-serpent: #11c7eb;
  --color-teal: #22a49c;
  --color-gold: #fa0;
  --color-warm: #f9f7f5;

  --primary-color: var(--color-aoa-blue);

  --font-color-dark: var(--color-dark);
}

html {
  font-size: 100%;
  line-height: 1;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
}

.wrap {
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
}

.etc {
  height: 800px;
  width: 100%;
  position: relative;
  margin-top: 9rem;
  background-color: aliceblue;
}

.etc:before {
  content: 'Etc.';
  position: absolute;
  padding: 1rem;
  font-family: var(--font-family);
  font-size: 24px;
}

.blobs {
  height: 100%;
  width: 100%;
  position: absolute;
  top: -10%;
}

.blob {
  position: absolute;
  height: auto;
}

.blob--blue {
  width: 1200px;
  top: 189px;
  left: 677px;
}

.blob--yellow {
  width: 1061px;
  top: 175px;
  left: 1039px;
  mix-blend-mode: lighten;
}

.blob--white {
  width: 1069px;
  top: 170px;
  left: -200px;
}

.blob--sea {
  width: 1525px;
  top: 258px;
  left: -220px;
}

.super {
  position: relative;
}

.super-fig {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.super-fig:after {
  content: '';
  position: absolute;
  left: -32px;
  right: -32px;
  top: 20%;
  bottom: 0;
  z-index: 1;
  background-image: linear-gradient(to top, #fff, rgba(255, 255, 255, 0.02));
}

.super-fig__body {
  position: absolute;
  z-index: 2;
  bottom: 180px;
}

.super-fig__kicker {
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-sea-serpent);
}

.super-fig__title {
  margin-top: 27px;
  margin-bottom: 24px;
  font-size: 44px;
  line-height: 1;
  text-align: center;
  font-weight: 800;
  color: var(--primary-color);
}

.super-fig__blurb {
  max-width: 654px;
  margin: 0 auto;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 1.55;
  color: var(--font-color-dark);
}

.super-fig__link {
  position: relative;
  padding-right: 24px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-teal);
}

.super-fig__link:after {
  content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMThweCIgaGVpZ2h0PSIxMnB4IiB2aWV3Qm94PSIwIDAgMTggMTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZyBpZD0iU3ltYm9scyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBvbHlsaW5lIGlkPSJQYXRoLTUiIHN0cm9rZT0iIzIyYTQ5YyIgc3Ryb2tlLXdpZHRoPSIxLjYiIHBvaW50cz0iOS42NzgzNjI1NyAwIDE1IDUgOS42NzgzNjI1NyAxMCI+PC9wb2x5bGluZT4KICAgICAgICA8bGluZSB4MT0iMTQuNiIgeTE9IjUiIHgyPSIwLjQiIHkyPSI1IiBpZD0iTGluZSIgc3Ryb2tlPSIjMjJhNDljIiBzdHJva2Utd2lkdGg9IjEuNiIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSI+PC9saW5lPgogICAgPC9nPgo8L3N2Zz4K);
  position: absolute;
  top: 0;
  margin-left: 7px;
  transition: transform 0.2s ease-out;
}

.super-fig__link:hover:after {
  transform: translate3d(3px, 0, 0);
}

.super-fig__fig {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.super-fig__image {
  max-width: 1204px;
  height: auto;
}

.tk-blob {
  /*animation: blob-turn var(--time, 30s) linear infinite;*/
  /*fill: var(--fill, #7600f8);*/
  /*position: relative;*/
  transform-origin: center;
}

.tk-blob svg {
  transform-origin: center;
  animation-name: blob-skew;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.tk-blob--1 {
  animation-delay: 0.5s;
  animation-duration: calc(var(--time, 100s) * 0.5);
}

.tk-blob--2 {
  animation-delay: 2s;
  animation-duration: calc(var(--time, 90s) * 0.5);
}

.tk-blob--3 {
  animation-duration: calc(var(--time, 60s) * 0.5);
  animation-delay: 1s;
}

.tk-blob--4 {
  animation-duration: calc(var(--time, 120s) * 0.5);
  animation-delay: 0;
}

.tk-blob svg path {
  animation: blob-scale calc(var(--time, 90s) * 0.5) ease-in-out 0s infinite;
  transform-origin: center;
}

@keyframes blob-turn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes blob-skew {
  0% {
    transform: skewY(0deg);
  }
  13% {
    transform: skewY(calc((1.8deg) * var(--amount, 2)));
  }
  18% {
    transform: skewY(calc((2.2deg) * var(--amount, 2)));
  }
  24% {
    transform: skewY(calc((2.48deg) * var(--amount, 2)));
  }
  25% {
    transform: skewY(calc((2.5deg) * var(--amount, 2)));
  }
  26% {
    transform: skewY(calc((2.48deg) * var(--amount, 2)));
  }
  32% {
    transform: skewY(calc((2.2deg) * var(--amount, 2)));
  }
  37% {
    transform: skewY(calc((1.8deg) * var(--amount, 2)));
  }
  50% {
    transform: skewY(0deg);
  }
  63% {
    transform: skewY(calc((-1.8deg) * var(--amount, 2)));
  }
  68% {
    transform: skewY(calc((-2.2deg) * var(--amount, 2)));
  }
  74% {
    transform: skewY(calc((-2.48deg) * var(--amount, 2)));
  }
  75% {
    transform: skewY(calc((-2.5deg) * var(--amount, 2)));
  }
  76% {
    transform: skewY(calc((-2.48deg) * var(--amount, 2)));
  }
  82% {
    transform: skewY(calc((-2.2deg) * var(--amount, 2)));
  }
  87% {
    transform: skewY(calc((-1.8deg) * var(--amount, 2)));
  }
  100% {
    transform: skewY(0deg);
  }
}

@keyframes blob-scale {
  0% {
    transform: scaleX(0.9) scaleY(1);
  }
  25% {
    transform: scaleX(0.9) scaleY(0.9);
  }
  50% {
    transform: scaleX(1) scaleY(0.9);
  }
  75% {
    transform: scaleX(0.9) scaleY(0.9);
  }
  100% {
    transform: scaleX(0.9) scaleY(1);
  }
}
