%section-padding {

  @media screen and (max-width: 480px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (max-width: 1040px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: 1041px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.super {
  position: relative;
  overflow: hidden;
}

.super-fig {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  @media screen and (min-width: 768px) {
    margin-bottom: -150px;
  }
}

.super-fig.loaded:after {
  content: '';
  position: absolute;
  left: -32px;
  right: -32px;
  top: 20%;
  bottom: 0;
  z-index: 1;
  background-image: linear-gradient(
    to top,
    #fff 30%,
    rgba(255, 255, 255, 0.02)
  );
}

.super-fig__body {
  @extend %section-padding;

  position: absolute;
  z-index: 2;
  top: 50%;
  bottom: auto;
  //padding: 100px 150px 100px 150px;


  @media screen and (min-width: 768px) {
    top: auto;
    bottom: 180px;
  }
}

.super-fig__kicker {
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-sea-serpent);
}

.super-fig__title {
  margin-top: 27px;
  margin-bottom: 24px;
  line-height: 1;
  font-size: 2.5em;
  text-align: center;
  font-weight: 800;
  color: var(--primary-color);

  @media screen and (min-width: 768px) {
    font-size: 2.75em;
  }

}

.super-fig__blurb {
  max-width: 654px;
  margin: 0 auto;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 1.55;
  color: var(--font-color-dark);
}

.super-fig__link {
  position: relative;
  padding-right: 24px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-teal);
}


.super-fig__fig {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.super-fig__bg {
  position: absolute;
  top: 240px;
  left: 20px;
  right: -10px;
  bottom: -40px;
  z-index: -1;
  background-image: linear-gradient(to bottom, var(--color-sea-serpent), #fff);
  box-shadow: -20px 10px 10px 5px rgba(0,0,0,.15);
}

.super-fig__image {
  /*max-width: 1204px;*/
  height: auto;
}
